# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Fortran module files
*.mod
*.smod

# Build & Toolchain
*build*/
temp/
.cache/

.llvm*/
.clice/
compile_commands.json
perf.data
flamegraph.svg

# Nodejs & Web
*.vsix
dist/
out/
cache/
node_modules/
.vscode-test/

# Python & Testing
__pycache__/
.pytest_cache/
tests/unit/Local/

# IDEs & Editors
/.vscode/*
!/.vscode/launch.json
!/.vscode/tasks.json
.vs/
.idea/
.clangd

# pixi environments
.env
.pixi/*
!.pixi/config.toml

.codex
.claude/*
!.claude/CLAUDE.md
!.claude/commands/
